<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <style>
        img {
            position: relative;
            width: 4rem;
            height: 4rem;
        }
        #log {
            position: relative;
            right: 50px;
        }
        #username {
            font-style: italic;
        }
    </style>

</head>
<body>
<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
<!-- Image and text -->
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img src="/navbar.PNG" class="d-inline-block align-top" alt="" th:src="@{/images/navbar.PNG}">
        Sports Buddy
    </a>
    <div id="log">
        <p>Logged in as: <a id="username" th:text="${mainUser.getName()}">Name</a></p>

        <li class="nav">
            <a class="nav-link" href="/updateAccount" >Change account details</a>
        </li>
        <li class="nav">
            <a class="nav-link" href="/logout" >Log out</a>
        </li>

    </div>

</nav>
<div class="container my-2">
    <div class="card">
        <div class="card-body">
                <div class="col-md-12">
                    <h1>User Details</h1>
                    <div class="row"></div>
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-6" th:object="${userInspected}">
                        <p style="font-weight: bold">Name: </p>
                        <p th:text="${userInspected.name}">Name</p>
                        <p style="font-weight: bold">Email: </p>
                        <p th:text="${userInspected.email}">Email</p>
                        <p style="font-weight: bold">Favourite Sports: </p>
                            <ul th:each="sport : ${userInspected.favouriteSports}">
                                <li th:text="${sport}"></li>
                            </ul>
                        <p style="font-weight: bold">Participating Matches: </p>
                        <ul th:each="match : ${userInspected.participatingMatches}">
                            <li th:text="${match.name}"></li>
                        </ul>
                    </div>
                    <div class="col-md-3" >
                        <a type="button" href="/" class="btn btn-secondary" value="Back to matches list">Go back</a>

                    </div>
                </div>
                </div>
    </div>
    </div>
</div>
</body>
</html>