
        img {
            position: relative;
            width: 4rem;
            height: 4rem;
        }
        #log {
            position: relative;
            right: 50px;
        }
        #mainUserName {
            font-style: italic;
        }