<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <style>
        img, p {
            margin: auto;
            display: block;
            text-align: center;
            /*left: 100px;*/
            /*top: 150px;*/
            /*width: 20rem*/
        }
    </style>
</head>
<body>
    <img class="img-responsive" src="../static/images/error.jpg" th:src="@{/images/error.jpg}"/>
    <p>Ops.. something went wrong</p>
</body>
</html>