<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <style>
        img {
            position: relative;
            width: 4rem;
            height: 4rem;
        }
    </style>

</head>
<body>
<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
<!-- Image and text -->
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img src="../static/images/navbar.PNG" class="d-inline-block align-top" alt="" th:src="@{/images/navbar.PNG}">
        Sports Buddy
    </a>
</nav>
<div class="container my-4">
    <div class="col-md-8">
            <h3> Update Form </h3>
            <div class="card">
                <div class="card-body">
                    <div class="col-md-12">
                        <form action="#" th:action="@{/update}" method="post">
                            <div class="row">
                                <div class="form-group col-md-8" th:object="${login}">
                                    <label for="username" class="col-form-label">Username</label>
                                    <input id="username" class="form-control" type="text" th:placeholder="${login.username}" readonly>
                                </div>
                                <div class="form-group col-md-8" th:object="${updateForm}">
                                    <label for="password" class="col-form-label">Password</label>
                                    <input type="password" autocomplete="off" th:field="*{password}" class="form-control" id="password" th:errorclass="'form-control is-invalid'">
                                    <div class="invalid-feedback" th:if="${#fields.hasErrors('password')}">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('password')}" th:text="${err}"></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="form-group col-md-8" th:object="${updateForm}">
                                    <label for="name" class="col-form-label">Name</label>
                                    <input type="text" autocomplete="off" th:field="*{name}" class="form-control" id="name" th:errorclass="'form-control is-invalid'">
                                    <div class="invalid-feedback" th:if="${#fields.hasErrors('name')}">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('name')}" th:text="${err}"></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="form-group col-md-8" th:object="${user}">
                                    <label for="email" class="col-form-label">Email</label>
                                    <input id="email" class="form-control" type="text" th:placeholder="${user.email}" readonly>
                                    <div class="invalid-feedback" th:if="${#fields.hasErrors('email')}">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('email')}" th:text="${err}"></li>
                                        </ul>
                                    </div>
                                </div>
                                <p></p>
                                <p1>Sports that I like:</p1>
                                <div class="form-group col-md-5" th:object="${sportschoice}">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="soccer" th:field="*{soccer}">
                                        <label class="form-check-label" for="soccer"> Soccer</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="basketball" th:field="*{basketball}" >
                                        <label class="form-check-label" for="basketball">Basketball</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="volleyball" th:field="*{volleyball}" >
                                        <label class="form-check-label" for="volleyball">Volleyball</label>
                                    </div>
                                </div>
                                <div class="form-group col-md-5" th:object="${sportschoice}">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="tennis" th:field="*{tennis}" >
                                        <label class="form-check-label" for="tennis">Tennis</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="table_tennis" th:field="*{table_tennis}">
                                        <label class="form-check-label" for="table_tennis">Table Tennis</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="baseball" th:field="*{baseball}" >
                                        <label class="form-check-label" for="baseball">Baseball</label>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <p></p>
                                    <input type="submit" href="update" class="btn btn-primary" value="Update"/>
                                    <a type="button" href="/" class="btn btn-secondary" value="Back to matches list">Back to login page</a>

                                </div>
                            </div>
                        </form>
                        <p></p>
                        <div th:if="${account.feedback} == true">
                            <div th:if="${account.getPosition()} == 1">
                                <div class="alert alert-danger" role="alert" >
                                    <p5 th:text="${account.getMessage()}">Error creating account.</p5>
                                </div>
                            </div>
                        </div>
                        <div th:if="${account.feedback} == true">
                            <div th:if="${account.getPosition()} == 3">
                                <div class="alert alert-warning" role="alert" >
                                    <p5 th:text="${account.getMessage()}">Update.</p5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

    </div>

</div>
</body>
</html>